<!--Global div-->
<div>
  <form [formGroup]="parentForm">
    <ng-content></ng-content>
    <div [formGroupName]="fGroupName" class="sm:flex">
      <!--First flexed div-->
      <div class="relative mt-1">
        <button
          (click)="select=!select"
          type="button"
          class="relative rounded-md border border-gray-300 bg-white py-2 pl-3 pr-10 text-left shadow-sm focus:border-amber-500 focus:outline-none focus:ring-1 focus:ring-amber-500 sm:text-sm">
          <span>{{prefix.value}}</span>
          <input formControlName="prefix" class="hidden">
          <span class="absolute inset-y-0 right-0 ml-4 flex items-center pr-2">
            <fa-icon icon="chevron-down"></fa-icon>
          </span>
        </button>
        <ul
          (click)="select=false"
          [ngClass]="{'hidden':!select}"
          class="absolute z-10 mt-1 max-h-56 overflow-auto rounded-md bg-white py-1 text-base shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none sm:text-sm">
          <ng-container *ngFor="let obj of phoneSpecs">
            <li
              (click)="setPrefix(obj.country + obj.code)"
              class="relative cursor-default select-none py-2 pl-3 pr-9 hover:bg-amber-600 hover:text-white">
                <span
                  [ngClass]="{'font-semibold':prefix.value===(obj.country+obj.code)}"
                  class="block">
                      {{obj.country + obj.code}}
                </span>
              <ng-container
                *ngIf="prefix.value===(obj.country+obj.code)">
                  <span
                    class="text-amber-600 absolute inset-y-0 right-0 flex items-center pr-4">
                      <fa-icon icon="check"></fa-icon>
                  </span>
              </ng-container>
            </li>
          </ng-container>
        </ul>
      </div>
      <!--Second flexed div-->
      <div class="">
        <input
          [maxlength]="maxLength"
          [minlength]="minLength"
          class="mt-1 block rounded-md border-gray-300 shadow-sm focus:border-amber-500 focus:ring-amber-500 sm:text-sm w-full"
          formControlName="number"
          type="text">
      </div>
    </div>
    <!--Errors div-->
    <div *ngIf="number.invalid && (number.dirty || number.touched)">
      <span *ngIf="number.hasError('required')" class="text-sm text-red-500 font-medium">
        Phone number is mandatory.
      </span>
      <span *ngIf="number.hasError('pattern')" class="text-sm text-red-500 font-medium">
        Only numbers are accepted.
      </span>
      <span *ngIf="number.hasError('maxlength')" class="text-sm text-red-500 font-medium">
        Too long for your country code. Required length is {{ number.errors?.['maxlength']['requiredLength'] }}.
      </span>
      <span *ngIf="number.hasError('minlength')" class="text-sm text-red-500 font-medium">
        Too short for your country code. Required length is {{ number.errors?.['minlength']['requiredLength'] }}.
      </span>
    </div>
  </form>
</div>
