<div class="flex justify-between">
  <!--First flexed div-->
  <div #text>
    <!--password-->
    <ng-container *ngIf="prop === 'password';else otherProps">
      ********
    </ng-container>
    <!--other cases-->
    <ng-template #otherProps>
      {{form.get(prop)!.value}}
    </ng-template>
  </div>
  <!--Second or not flexed div-->
  <div #input class="hidden w-full" [formGroup]="form">
    <ng-container *ngIf="prop==='phone';else otherCases">
      <app-phone-widget [form]="form" [classes]="'w-full'" class="mr-3 inline-flex w-72"></app-phone-widget>
    </ng-container>

    <ng-template #otherCases>
      <input [formControlName]="prop" [type]="setInputType(prop)"
             class="mr-3 w-3/4 lg:w-1/3 rounded-md border-gray-300 shadow-sm focus:border-amber-500 focus:ring-amber-500 sm:text-sm">
      <ng-container *ngIf="prop==='password'">
        <input formControlName="confirm" type="password"
               class="mt-1 mr-3 w-3/4 lg:w-1/3 rounded-md border-gray-300 shadow-sm focus:border-amber-500 focus:ring-amber-500 sm:text-sm">
      </ng-container>
    </ng-template>

    <button
      [disabled]="disableButtonStatus(prop)"
      [ngClass]="{'text-gray-600':disableButtonStatus(prop), 'cursor-pointer font-medium text-indigo-600 hover:text-indigo-500':!disableButtonStatus(prop)}"
      class="font-medium"
      (click)="toggleClasses(text, input, anchor)">Save</button>
  </div>

  <!--Third or not flexed div-->
  <div>
    <a #anchor (click)="toggleClasses(text, input, anchor)"
       class="cursor-pointer font-medium text-indigo-600 hover:text-indigo-500">
      Update
    </a>
  </div>
</div>
