<div class="overflow-hidden bg-white shadow sm:rounded-lg">
  <div class="px-4 py-5 sm:px-6 bg-indigo-100">
    <h3 class="text-lg font-medium leading-6 text-gray-900">Profile Information</h3>
    <p class="mt-1 max-w-2xl text-sm text-gray-500">Personal details.</p>
  </div>
  <div class="border-t border-gray-200">
    <form [formGroup]="profileForm">
      <dl>
        <div class="bg-gray-50 px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
          <dt class="text-sm font-medium text-gray-500">First name</dt>
          <dd class="mt-1 text-sm text-gray-900 sm:col-span-2 sm:mt-0">

          </dd>
        </div>
        <div class="bg-white px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
          <dt class="text-sm font-medium text-gray-500">Last name</dt>
          <dd class="mt-1 text-sm text-gray-900 sm:col-span-2 sm:mt-0">

          </dd>
        </div>
        <div class="bg-gray-50 px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
          <dt class="text-sm font-medium text-gray-500">Email</dt>
          <dd class="mt-1 text-sm text-gray-900 sm:col-span-2 sm:mt-0">

          </dd>
        </div>
        <div class="bg-white px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
          <dt class="text-sm font-medium text-gray-500">Password</dt>
          <dd class="mt-1 text-sm text-gray-900 sm:col-span-2 sm:mt-0">

          </dd>
        </div>
        <div class="bg-gray-50 px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
          <dt class="text-sm font-medium text-gray-500">Phone</dt>
          <dd class="mt-1 text-sm text-gray-900 sm:col-span-2 sm:mt-0">
            <app-phone-widget [parentForm]="profileForm" fGroupName="phone"></app-phone-widget>
          </dd>
        </div>
        <div class="bg-white px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
          <dt class="text-sm font-medium text-gray-500">Age</dt>
          <dd class="mt-1 text-sm text-gray-900 sm:col-span-2 sm:mt-0">

          </dd>
        </div>
        <div class="bg-gray-50 px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
          <dt class="text-sm font-medium text-gray-500">Plus member</dt>
          <dd class="mt-1 text-sm text-gray-900 sm:col-span-2 sm:mt-0">No subscription</dd>
        </div>
        <div class="bg-white px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
          <dt class="text-sm font-medium text-gray-500">Profile picture</dt>
          <dd class="mt-1 text-sm text-gray-900 sm:col-span-2 sm:mt-0">
            <div class="divide-y divide-gray-200 rounded-md border border-gray-200">
              <div class="flex items-center justify-between py-3 pl-3 pr-4 text-sm">
                <div class="text-sm mr-5">
                  <span>Current file:</span>
                </div>
                <div class="flex w-0 flex-1 items-center">
                  <fa-icon icon="paperclip"></fa-icon>
                  <span class="ml-2 w-0 flex-1 truncate">{{profileForm.get('profileImage')!.value}}</span>
                </div>
              </div>
              <form enctype="multipart/form-data" class="py-3 pl-3 pr-4 text-sm sm:flex sm:justify-between text-center">
                <div>
                  <input #file type="file" name="file" required>
                </div>
                <div class="mt-5 sm:mt-0">
                  <a
                    (click)="upload(file)"
                    class="font-medium text-indigo-600 hover:text-indigo-500 cursor-pointer">Download & Save</a>
                </div>
              </form>
            </div>
          </dd>
        </div>
      </dl>
    </form>
  </div>
  <!--Part 2-->
  <div class="px-4 py-5 sm:px-6 border-t bg-indigo-100">
    <h3 class="text-lg font-medium leading-6 text-gray-900">Addresses</h3>
    <p class="mt-1 max-w-2xl text-sm text-gray-500">List of addresses.</p>
  </div>
  <div class="border-t border-gray-200">
  </div>
</div>
