<div class="overflow-hidden bg-white shadow sm:rounded-lg">
  <div class="px-4 py-5 sm:px-6 bg-indigo-100">
    <h3 class="text-lg font-medium leading-6 text-gray-900">Profile Information</h3>
    <p class="mt-1 max-w-2xl text-sm text-gray-500">Personal details.</p>
  </div>
  <div class="border-t border-gray-200">
    <form [formGroup]="profileForm">
      <dl>
        <div class="bg-gray-50 px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
          <dt class="text-sm font-medium text-gray-500">First name</dt>
          <dd class="mt-1 text-sm text-gray-900 sm:col-span-2 sm:mt-0">
            <div class="flex justify-between" *ngIf="show1;else templ1">
              <span>
                {{firstName?.value}}
              </span>
              <button (click)="show1=false"
                      class="font-medium text-indigo-600 hover:text-indigo-500 cursor-pointer">
                Update
              </button>
            </div>
            <ng-template #templ1>
              <div class="flex justify-between">
                <div>
                  <app-input [parentForm]="profileForm" inputType="text" label="First name" fieldName="firstName"
                             formControlName="firstName" classes="sm:w-80" [needLabel]="false"></app-input>
                </div>
                <div class="my-auto">
                  <button (click)="show1=true; updateData()"
                          [disabled]="!!firstName?.errors"
                          [ngClass]="{'text-gray-600':!!firstName?.errors, 'text-indigo-600 hover:text-indigo-500 cursor-pointer':!!!firstName?.errors}"
                          class="font-medium p-2">
                    Save
                  </button>
                  <button (click)="show1=true;" class="p-2 font-medium text-red-600 hover:text-red-500 cursor-pointer">
                    Cancel
                  </button>
                </div>
              </div>
            </ng-template>
          </dd>
        </div>
        <div class="bg-white px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
          <dt class="text-sm font-medium text-gray-500">Last name</dt>
          <dd class="mt-1 text-sm text-gray-900 sm:col-span-2 sm:mt-0">
            <div class="flex justify-between" *ngIf="show2;else templ2">
              <span>
                {{lastName?.value}}
              </span>
              <button (click)="show2=false"
                      class="font-medium text-indigo-600 hover:text-indigo-500 cursor-pointer">
                Update
              </button>
            </div>
            <ng-template #templ2>
              <div class="flex justify-between">
                <div>
                  <app-input [parentForm]="profileForm" inputType="text" label="Last name" fieldName="lastName"
                             formControlName="lastName" classes="sm:w-80" [needLabel]="false"></app-input>
                </div>
                <div class="my-auto">
                  <button (click)="show2=true"
                          [disabled]="!!lastName?.errors"
                          [ngClass]="{'text-gray-600':!!lastName?.errors, 'text-indigo-600 hover:text-indigo-500 cursor-pointer':!!!lastName?.errors}"
                          class="font-medium p-2">
                    Save
                  </button>
                  <button (click)="show2=true;" class="p-2 font-medium text-red-600 hover:text-red-500 cursor-pointer">
                    Cancel
                  </button>
                </div>
              </div>
            </ng-template>
          </dd>
        </div>
        <div class="bg-gray-50 px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
          <dt class="text-sm font-medium text-gray-500">Email</dt>
          <dd class="mt-1 text-sm text-gray-900 sm:col-span-2 sm:mt-0">
            <div class="flex justify-between" *ngIf="show3;else templ3">
              <span>
                {{email?.value}}
              </span>
              <button (click)="show3=false"
                      class="font-medium text-indigo-600 hover:text-indigo-500 cursor-pointer">
                Update
              </button>
            </div>
            <ng-template #templ3>
              <div class="flex justify-between">
                <div>
                  <app-input [parentForm]="profileForm" inputType="email" label="Email" fieldName="email"
                             formControlName="email" classes="sm:w-80" [needLabel]="false"></app-input>
                </div>
                <div class="my-auto">
                  <button (click)="show3=true"
                          [disabled]="!!email?.errors"
                          [ngClass]="{'text-gray-600':!!email?.errors, 'text-indigo-600 hover:text-indigo-500 cursor-pointer':!!!email?.errors}"
                          class="font-medium p-2">
                    Save
                  </button>
                  <button (click)="show3=true;" class="p-2 font-medium text-red-600 hover:text-red-500 cursor-pointer">
                    Cancel
                  </button>
                </div>
              </div>
            </ng-template>
          </dd>
        </div>
        <div class="bg-white px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
          <dt class="text-sm font-medium text-gray-500">Password</dt>
          <dd class="mt-1 text-sm text-gray-900 sm:col-span-2 sm:mt-0">
            <div class="flex justify-between" *ngIf="show4;else templ4">
              <span>
                ********
              </span>
              <button (click)="show4=false"
                      class="font-medium text-indigo-600 hover:text-indigo-500 cursor-pointer">
                Update
              </button>
            </div>
            <ng-template #templ4>
              <div class="flex justify-between">
                <div class="lg:flex">
                  <app-input [parentForm]="profileForm" inputType="password" label="Password" fieldName="password"
                             formControlName="password" classes="sm:w-80" [needLabel]="false" class="mr-1"></app-input>
                  <app-input [parentForm]="profileForm" inputType="password" label="Confirm" fieldName="confirm"
                             formControlName="confirm" classes="sm:w-80" [needLabel]="false"></app-input>
                </div>
                <div class="my-auto">
                  <button (click)="show4=true"
                          [disabled]="!!password?.errors || !!confirm?.errors || profileForm.hasError('hasToMatch')"
                          [ngClass]="{'text-gray-600':!!password?.errors || !!confirm?.errors || profileForm.hasError('hasToMatch'), 'text-indigo-600 hover:text-indigo-500 cursor-pointer':!!!password?.errors && !!!confirm?.errors && !profileForm.hasError('hasToMatch')}"
                          class="font-medium p-2">
                    Save
                  </button>
                  <button (click)="show4=true;" class="p-2 font-medium text-red-600 hover:text-red-500 cursor-pointer">
                    Cancel
                  </button>
                </div>
              </div>
              <app-reu-error [hasError]="password?.hasError('has2up')"
                             [text]="'Two uppercase'"></app-reu-error>
              <app-reu-error [hasError]="password?.hasError('hasSymbol')"
                             [text]="'A symbol'"></app-reu-error>
              <app-reu-error [hasError]="password?.hasError('has2Digit')"
                             [text]="'Two digits'"></app-reu-error>
              <app-reu-error [hasError]="password?.hasError('has3Lo')"
                             [text]="'Three lowercase'"></app-reu-error>
              <app-reu-error [hasError]="password?.hasError('is8Long')"
                             [text]="'Eight characters'"></app-reu-error>
            </ng-template>
          </dd>
        </div>
        <div class="bg-gray-50 px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
          <dt class="text-sm font-medium text-gray-500">Phone</dt>
          <dd class="mt-1 text-sm text-gray-900 sm:col-span-2 sm:mt-0">
            <div class="flex justify-between" *ngIf="show5;else templ5">
              <span>
                {{phonePrefix?.value}} {{phoneNumber?.value}}
              </span>
              <button (click)="show5=false"
                      class="font-medium text-indigo-600 hover:text-indigo-500 cursor-pointer">
                Update
              </button>
            </div>
            <ng-template #templ5>
              <div class="flex justify-between">
                <div>
                  <app-phone-widget [parentForm]="profileForm" fGroupName="phone"></app-phone-widget>
                </div>
                <div class="my-auto">
                  <button (click)="show5=true"
                          [disabled]="!!phone?.errors"
                          [ngClass]="{'text-gray-600':!!phone?.errors, 'text-indigo-600 hover:text-indigo-500 cursor-pointer':!!!phone?.errors}"
                          class="font-medium p-2">
                    Save
                  </button>
                  <button (click)="show5=true;" class="p-2 font-medium text-red-600 hover:text-red-500 cursor-pointer">
                    Cancel
                  </button>
                </div>
              </div>
            </ng-template>
          </dd>
        </div>
        <div class="bg-white px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
          <dt class="text-sm font-medium text-gray-500">Age</dt>
          <dd class="mt-1 text-sm text-gray-900 sm:col-span-2 sm:mt-0">
            <div class="flex justify-between" *ngIf="show6;else templ6">
              <span>
                {{age?.value}}
              </span>
              <button (click)="show6=false"
                      class="font-medium text-indigo-600 hover:text-indigo-500 cursor-pointer">
                Update
              </button>
            </div>
            <ng-template #templ6>
              <div class="flex justify-between">
                <div>
                  <app-input [parentForm]="profileForm" inputType="number" label="Age" fieldName="age"
                             formControlName="age" classes="sm:w-80" [needLabel]="false"></app-input>
                </div>
                <div class="my-auto">
                  <button (click)="show6=true"
                          [disabled]="!!age?.errors"
                          [ngClass]="{'text-gray-600':!!age?.errors, 'text-indigo-600 hover:text-indigo-500 cursor-pointer':!!!age?.errors}"
                          class="font-medium p-2">
                    Save
                  </button>
                  <button (click)="show6=true;" class="p-2 font-medium text-red-600 hover:text-red-500 cursor-pointer">
                    Cancel
                  </button>
                </div>
              </div>
            </ng-template>
          </dd>
        </div>
        <div class="bg-gray-50 px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
          <dt class="text-sm font-medium text-gray-500">Plus member</dt>
          <dd class="mt-1 text-sm text-gray-900 sm:col-span-2 sm:mt-0">No subscription</dd>
        </div>
        <div class="bg-white px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
          <dt class="text-sm font-medium text-gray-500">Profile picture</dt>
          <dd class="mt-1 text-sm text-gray-900 sm:col-span-2 sm:mt-0">
            <div class="divide-y divide-gray-200 rounded-md border border-gray-200">
              <div class="flex items-center justify-between py-3 pl-3 pr-4 text-sm">
                <div class="text-sm mr-5">
                  <span>Current file:</span>
                </div>
                <div class="flex w-0 flex-1 items-center">
                  <fa-icon icon="paperclip"></fa-icon>
                  <span class="ml-2 w-0 flex-1 truncate">{{profileForm.get('profileImage')!.value}}</span>
                </div>
              </div>
              <div class="py-3 pl-3 pr-4 text-sm sm:flex sm:justify-between text-center">
                <div>
                  <input #file type="file">
                </div>
                <div class="mt-5 sm:mt-0">
                  <a
                    (click)="upload(file)"
                    class="font-medium text-indigo-600 hover:text-indigo-500 cursor-pointer">Download & Save</a>
                </div>
              </div>
            </div>
          </dd>
        </div>
      </dl>
    </form>
  </div>
  <!--Part 2-->
  <div class="px-4 py-5 sm:px-6 border-t bg-indigo-100">
    <h3 class="text-lg font-medium leading-6 text-gray-900">Addresses</h3>
    <p class="mt-1 max-w-2xl text-sm text-gray-500">List of addresses.</p>
  </div>
  <div class="border-t border-gray-200">
  </div>
</div>
